html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: 'Satisfy';
  src: url("../fonts/Satisfy-Regular.eot");
  src: url("../fonts/Satisfy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Satisfy-Regular.woff2") format("woff2"), url("../fonts/Satisfy-Regular.woff") format("woff"), url("../fonts/Satisfy-Regular.ttf") format("truetype"), url("../fonts/Satisfy-Regular.svg#Satisfy-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #c5b8b8;
  background-image: url("../images/bg1.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}

body .header {
  background: #450404;
  background: linear-gradient(80deg, #450404 8%, #292930 76%);
  padding: 20px;
  margin: 50px 0px;
  border: 3px solid #a59476;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header__logo {
  color: #a59476;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

body .header__logo:hover {
  opacity: 50%;
}

body .header__container {
  max-width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .header__a {
  color: #a59476;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

body .header__a:hover {
  opacity: 50%;
}

body .header__a--active {
  color: #c5b8b8;
}

body .header__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  body .header__menu {
    display: none;
  }
}

body .header__icons {
  max-width: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  body .header__icons {
    display: none;
  }
}

body .header__icon {
  color: #c5b8b8;
}

body .header__burger {
  color: #c5b8b8;
  display: none;
  font-size: 30px;
  position: absolute;
  top: 90px;
  right: 40px;
  cursor: pointer;
}

@media (max-width: 768px) {
  body .header__burger {
    display: block;
  }
}

body .section-1__container {
  position: relative;
  background-color: #c5b8b8;
  background-blend-mode: multiply;
  background-image: url("../images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border: 2px solid #450404;
}

body .section-1__title {
  position: absolute;
  font-size: 30px;
  color: #8d9490;
  font-family: "Satisfy";
  top: 10%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fade 2s infinite alternate;
          animation: fade 2s infinite alternate;
  z-index: 4;
}

body .section-1__title::after {
  content: url("../images/little-glass.svg");
}

@media (max-width: 768px) {
  body .section-1__title {
    -webkit-animation: none;
            animation: none;
    -webkit-transform: none;
            transform: none;
    color: #ebd5cc;
    top: 0px;
    left: 0px;
  }
}

body .section-1__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  body .section-1__image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 30px;
  }
}

body .section-1__img {
  max-width: 200px;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 80%;
}

@media (max-width: 500px) {
  body .section-1__img {
    max-width: 150px;
    height: 150px;
  }
}

body .section-1__img:hover {
  position: relative;
  bottom: -10px;
  left: 5px;
}

body .section-1__text {
  color: #ebd5cc;
  font-family: "Poppins";
  line-height: 30px;
  font-size: 15px;
  max-width: 450px;
  width: 100%;
  z-index: 6;
  margin-top: 50px;
}

@media (max-width: 768px) {
  body .section-1__text {
    font-size: 10px;
    -webkit-transform: none;
            transform: none;
  }
}

body .section-2__container {
  position: relative;
  background-color: #c5b8b8;
  background-blend-mode: multiply;
  background-image: url("../images/bg4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 50px;
  border: 2px solid #450404;
}

body .section-2__title {
  position: absolute;
  font-size: 30px;
  color: #8d9490;
  font-family: "Satisfy";
  text-align: center;
  z-index: 5;
  top: 7%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fade 2s infinite linear;
          animation: fade 2s infinite linear;
}

body .section-2__title::after {
  content: url("../images/little-bottle.svg");
}

@-webkit-keyframes fade {
  from {
    right: 0px;
    opacity: 3;
  }
  to {
    right: 0px;
    opacity: 0;
  }
}

@keyframes fade {
  from {
    right: 0px;
    opacity: 3;
  }
  to {
    right: 0px;
    opacity: 0;
  }
}

@media (max-width: 768px) {
  body .section-2__title {
    -webkit-animation: none;
            animation: none;
    -webkit-transform: none;
            transform: none;
    color: #ebd5cc;
    top: 0px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  body .section-2__title {
    font-size: 18px;
  }
}

body .section-2__text {
  color: #ebd5cc;
  font-family: "Poppins";
  line-height: 25px;
  font-size: 15px;
  max-width: 450px;
  margin-top: 50px;
  width: 100%;
}

@media (max-width: 768px) {
  body .section-2__text {
    font-size: 10px;
  }
}

body .section-2__img {
  max-width: 300px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 80%;
}

@media (max-width: 768px) {
  body .section-2__img {
    max-width: 200px;
    height: 200px;
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  body .section-2__img {
    max-width: 150px;
    height: 150px;
    margin-top: 200px;
  }
}

@media (max-width: 332px) {
  body .section-2__img {
    max-width: 100px;
    height: 100px;
  }
}

body .section-2__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 500px) {
  body .section-2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .section-3__container {
  position: relative;
  background-color: #757070;
  background-blend-mode: multiply;
  background-image: url("../images/bottles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  border: 2px solid #450404;
}

@media (max-width: 768px) {
  body .section-3__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .section-3__textarea {
  max-width: 500px;
  width: 100%;
  height: 300px;
  background-color: #7a7373;
  background-blend-mode: multiply;
  background-image: url("../images/kvevri.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  resize: none;
  border: 2px solid #8d9490;
}

body .section-3__textarea::-webkit-input-placeholder {
  position: absolute;
  color: #ebd5cc;
  font-family: "Satisfy";
  font-size: 30px;
  top: 30%;
  left: 35%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  opacity: 60%;
}

body .section-3__textarea:-ms-input-placeholder {
  position: absolute;
  color: #ebd5cc;
  font-family: "Satisfy";
  font-size: 30px;
  top: 30%;
  left: 35%;
  transform: translate(-50%, 50%);
  opacity: 60%;
}

body .section-3__textarea::-ms-input-placeholder {
  position: absolute;
  color: #ebd5cc;
  font-family: "Satisfy";
  font-size: 30px;
  top: 30%;
  left: 35%;
  transform: translate(-50%, 50%);
  opacity: 60%;
}

body .section-3__textarea::placeholder {
  position: absolute;
  color: #ebd5cc;
  font-family: "Satisfy";
  font-size: 30px;
  top: 30%;
  left: 35%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  opacity: 60%;
}

@media (max-width: 768px) {
  body .section-3__textarea {
    max-width: 300px;
  }
}

body .section-3__title {
  color: #ebd5cc;
  max-width: 300px;
  width: 100%;
  position: absolute;
  font-size: 30px;
  font-family: "Satisfy";
  top: 20%;
  left: 65%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  body .section-3__title {
    -webkit-transform: none;
            transform: none;
    color: #ebd5cc;
    font-size: 20px;
    top: 10px;
    left: 5px;
  }
}

body .section-3__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  body .section-3__wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

body .section-3__input {
  max-width: 400px;
  width: 100%;
  height: 60px;
  background-color: blanchedalmond;
  border: 2px solid #757070;
}

body .section-3__input::-webkit-input-placeholder {
  color: #8d9490;
  font-family: "Poppins";
  font-size: 18px;
}

body .section-3__input:-ms-input-placeholder {
  color: #8d9490;
  font-family: "Poppins";
  font-size: 18px;
}

body .section-3__input::-ms-input-placeholder {
  color: #8d9490;
  font-family: "Poppins";
  font-size: 18px;
}

body .section-3__input::placeholder {
  color: #8d9490;
  font-family: "Poppins";
  font-size: 18px;
}

@media (max-width: 768px) {
  body .section-3__input {
    max-width: 200px;
  }
}

body .section-3__button {
  max-width: 100px;
  width: 100%;
  height: 30px;
  border-radius: 15px;
  font-family: "Poppins";
  color: #8d9490;
  background-color: blanchedalmond;
  border: 2px solid #757070;
  font-size: 15px;
}

body .section-4 {
  background-color: #7a7373;
  background-blend-mode: multiply;
  background-image: url("../images/rtveli-bg.jpg");
  background-repeat: repeat;
  background-size: cover;
}

body .section-4__title {
  background-color: #776d6d;
  text-align: center;
  font-size: 30px;
  font-family: "Satisfy";
  color: blanchedalmond;
  -webkit-animation: fade 3s infinite alternate;
          animation: fade 3s infinite alternate;
  border: 1px solid blanchedalmond;
}

body .section-4__text {
  font-size: 18px;
  font-family: "Poppins";
  color: blanchedalmond;
  margin-top: 20px;
}

body .section-4__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

@media (max-width: 989px) {
  body .section-4__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .section-4__img {
  max-width: 250px;
  height: 250px;
  opacity: 70%;
}

body .section-4__img--opac {
  opacity: 50%;
}

body .section-5 {
  background-color: #7a7373;
  background-blend-mode: multiply;
  background-image: url("../images/bg6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px;
}

body .section-5__title {
  background-color: #776d6d;
  text-align: center;
  font-size: 30px;
  font-family: "Satisfy";
  color: blanchedalmond;
  -webkit-animation: fade 3s infinite alternate;
          animation: fade 3s infinite alternate;
  border: 1px solid blanchedalmond;
}

body .section-5__text {
  font-size: 18px;
  font-family: "Poppins";
  color: blanchedalmond;
  margin-top: 20px;
}

body .section-5__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

@media (max-width: 989px) {
  body .section-5__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .section-5__img {
  max-width: 250px;
  height: 250px;
  opacity: 60%;
}

body .section-6 {
  background-color: #7a7373;
  background-blend-mode: multiply;
  background-image: url("../images/bg5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body .section-6__title {
  text-align: center;
  font-size: 30px;
  font-family: "Satisfy";
  color: #e0bbbb;
}

body .section-6__title:hover {
  color: grey;
}

body .section-6__wine-title {
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  color: #ebd5cc;
}

body .section-6__wine-title::after {
  content: url("../images/little-glass.svg");
}

body .section-6__wine-title::first-letter {
  font-size: 40px;
  color: grey;
}

body .section-6__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  body .section-6__div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .section-6__text {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  color: #e0bbbb;
}

@media (max-width: 500px) {
  body .section-6__text {
    display: none;
  }
}

body .section-6__img {
  max-width: 250px;
  height: 250px;
  opacity: 50%;
}

body .section-6__img:hover {
  opacity: 70%;
}

body .section-7 {
  background-image: url("../images/bg.jpg");
  background-color: #c5b8b8;
  background-blend-mode: multiply;
}

body .section-7__title {
  background-color: #776d6d;
  text-align: center;
  font-size: 30px;
  font-family: "Satisfy";
  color: blanchedalmond;
  -webkit-animation: fade 5s infinite alternate;
          animation: fade 5s infinite alternate;
  border: 1px solid blanchedalmond;
}

body .section-7__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  body .section-7__second {
    display: none;
  }
}

body .section-7__span {
  font-size: 20px;
  color: black;
  font-family: "Poppins";
}

body .section-7__a {
  font-size: 15px;
  color: #4b4948;
  font-family: "Poppins";
}

body .footer {
  background: #292930;
  background: linear-gradient(74deg, #292930 8%, #450404 76%);
  padding: 20px;
  border: solid #a59476 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #a59476;
}

body .footer__logo {
  max-width: 300px;
  color: #a59476;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

body .footer__div {
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 100px;
}

@media (max-width: 768px) {
  body .footer__div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  body .footer__menu {
    display: none;
  }
}

body .footer__icons {
  max-width: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 332px) {
  body .footer__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .footer__li {
  color: #a59476;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}

body .footer__li:hover {
  opacity: 50%;
}

body .footer__margin {
  margin-bottom: 10px;
}

body .footer__icon {
  color: #c5b8b8;
}
/*# sourceMappingURL=global.css.map */