html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

body {
  background-color: #d7bcbc;
}

body .header {
  background: #450404;
  background: linear-gradient(80deg, #450404 8%, #292930 76%);
  padding: 20px;
}

body .header__logo {
  color: #a59476;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}

body .header__logo:hover {
  opacity: 50%;
}

body .header__a {
  color: #a59476;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}

body .header__a:hover {
  opacity: 50%;
}

body .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .header__menu {
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  body .header__menu {
    display: block;
    text-align: center;
  }
}

body .header__icons {
  max-width: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #d7bcbc;
}

@media (max-width: 768px) {
  body .header__icons {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  body .header__menu--icons {
    display: none;
  }
}

@media (max-width: 768px) {
  body .header__menu--open-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  body .header__icons--open-socicon {
    display: none;
  }
}

body .header__burger {
  color: #d7bcbc;
  display: none;
  font-size: 30px;
  position: absolute;
  top: 70px;
  right: 40px;
  cursor: pointer;
}

@media (max-width: 768px) {
  body .header__burger {
    display: block;
  }
}

body .footer {
  margin-top: 500px;
}

body .footer__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #462e04;
  background: #292930;
  background: linear-gradient(74deg, #292930 8%, #450404 76%);
  height: 80px;
}
/*# sourceMappingURL=global.css.map */