body{
 background-color: #d7bcbc;
    @extend %centering;
    .header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: rgb(69,4,4);
    background: linear-gradient(80deg, rgba(69,4,4,1) 8%, rgba(41,41,48,1) 76%);
    padding: 20px;
    &__a{
        color: #a59476;
        font-family: 'Dancing Script', cursive;
        font-size: 25px;
        &:hover{
            opacity: 50%;
        }
    }


    &__container{
        width: 500px;
    }
    &__ul{
        display: flex;
        justify-content: space-between;

    }

}
}