// colors
$color1:#c5b8b8;
$color2:#a59476;
$color3:#450404;
$color4:#252726;


// sizes
$width:100%;


// display
$flex:flex;
$none:none;
$between:space-between;

// position
$relative:relative;
$absolute:absolute;